*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    background: hsl(225, 100%, 94%);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.summary-card{
    width: 450px;
    height: 697px;
    border-radius: 20px;
    background-color: hsl(225, 100%, 98%);
}

.illustration-image{
    width: 450px;
    height: 220px;
}

.illustration-image img{
    border-radius: 20px 20px 0 0;
}

.summary-information{
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}

h1{
    text-align: center;
    font-size: 28px;
    font-weight: 900;
}

.confirmation-message{
    line-height: 26px;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    color: hsl(224, 23%, 55%);
}

.plan-information{
    display: flex;
    justify-content: space-between;
}

button{
    font-family: inherit;
    padding: 15px;
    border-radius: 11px;
    border: none;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-weight: 900;
}